@charset "utf-8";
/* CSS Document */
#content{
    overflow:auto;
	height:auto;
	padding:20px;
	background-color:#eee;
	border:#999;
}
#team{
	float:left;
	height:120px;
	width:200px;
	background-color:#FFF;
	}
#team_logo{
	height:80px;
	width:80px;
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	}
#introduce_team{
	height:400px;
	width:auto;
	margin-left:240px;
	margin-right:140px;
	padding:20px;
	background-color:#FFF;
	`}
#person_logo{
	float:right;
	height:480px;
	width:120px;
	margin-left:20px;
	background-color:#FFF;
	}
#person_logo1{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	}
#person_logo2{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	}
#person_logo3{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	}
#person_logo4{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	}
img{
	width:80px;
	height:80px;
}